{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div style="background-color: pink; padding: 1rem">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <h1>login</h1>

    Username:
    <input value="{{ last_username }}" name="username" id="inputUsername">

    <p>
    Password:
    <input type="password" name="password" id="inputPassword">

    <p>
    <button type="submit">Login now !!!ยง</button>
</form>
{% endblock %}
